
header {
  background-image: url('../img/ME.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10rem;
}


.trabajos {
  background-color: saddlebrown;
  height: auto;
  min-height: 800px;
}

.oscuro{
  background: saddlebrown;
  color: #ffffff;
  height: auto;
}
.oscuro a {
  color: #ffffff;
  text-align: none;
}

.nombre{
  margin-top: 400px;
}


